@if(authService.currentUserSig()) {
  @if(account[0].role == "student"){
<div class="attendance-content">
    <span class="attendance-link">
      <a class="attendance-link" [routerLink]="['/']">Courses</a> >>
      <a class="class-link" [routerLink]="['/courses/', attendanceList[0].module_id]">
        {{ attendanceList[0].module_name }}'s Classes
      </a> >>
      <a [routerLink]="['/courses', attendanceList[0].module_id, attendanceList[0].class_date  ]">
        {{ attendanceList[0].module_name }}'s Classes Attendance Info
      </a>
        </span>
      <div class="class-info-flexbox">
    <div class="course-information">
      <h2 class="course-name">Course: {{ attendanceList[0].module_name }}</h2>
      <h2 class="course-semester">Semester: {{ attendanceList[0].semester }}</h2>
      <h2 class="course-lecturer">Lecturer: {{ attendanceList[0].lecturer }}</h2>
    </div>
    <div class="class-information">
        <h2 class="course-name">Date: {{ attendanceList[0].class_date.toString().split("T")[0]}}</h2>
        <h2 class="course-semester">Start: {{ attendanceList[0].start_time }}</h2>
        <h2 class="course-lecturer">End: {{ attendanceList[0].end_time }}</h2>
      </div>
    </div>
    <hr />
    <div class="attendance-container">
      <div class="column-name">
        <p class="class-number">STUDENT NUMBER</p>
        <p class="class-date">STUDENT ID</p>
        <p class="class-time">STUDENT NAME</p>
        <p class="class-action">ACTION</p>
      </div>
      <div class="attendance-data" *ngFor="let attendance of attendanceList; index as i">
        <!-- <a [routerLink]="['/courses', class.module_id, class.class_date]"> -->
          <div class="row-data">
            <div class="column data-number">{{ i + 1 }}</div>
            <div class="column data-date">{{ attendance.student_id }}</div>
            <div class="column data-time">
              {{ attendance.student_name }}
            </div>
            <div class="column action">
              <dialog #dialog class="dialog">
                <div class="dialog-content">
                  <b>Disclaimer:</b> You can only request checking a lecture 1 time. Please only request checking if you truly present at class that day but the camera system failed to detect you. If your requests rejected for too many time, you might receive a strike for not being truthful. Are you sure you want to request checking for class: 
                  <p>Module: {{attendance.module_name}}</p>
                  <p>Semester: {{attendance.semester}}</p>
                  <p>Lecturer: {{attendance.lecturer}}</p>
                  <p>Date: {{attendance.class_date}}</p>
                  <p>Time: {{attendance.start_time}} - {{attendance.end_time}} </p>
                </div>
                <div class="dialog-button-box">
                  <button class="request-button" (click)="requestChecking(attendance.student_name,attendance.student_id,attendance.lecturer,attendance.lecturer_id,attendance.module_name,attendance.semester,attendance.class_date,attendance.start_time,attendance.end_time)">Submit</button>
                  <button class="close-button" (click)="dialog.close()">Close</button>
                </div>
              </dialog>
                <button class="button-checking"  (click)="dialog.showModal()">Request Checking</button>
              </div>
          </div>
        <!-- </a> -->
        <hr />
      </div>
     

    </div>
  </div>}

  @if(account[0].role == "lecturer" || "admin"){
    <div class="attendance-content">
        <span class="attendance-link">
          <a class="attendance-link" [routerLink]="['/']">Courses</a> >>
          <a class="class-link" [routerLink]="['/courses/', allAttendanceList[0].module_id]">
            {{ allAttendanceList[0].module_name }}'s Classes
          </a> >>
          <a [routerLink]="['/courses', allAttendanceList[0].module_id, allAttendanceList[0].class_date  ]">
            {{ allAttendanceList[0].module_name }}'s Classes Attendance Info
          </a>
            </span>
            <div class="class-info-flexbox">
        <div class="course-information">
          <h2 class="course-name">Course: {{ allAttendanceList[0].module_name }}</h2>
          <h2 class="course-semester">Semester: {{ allAttendanceList[0].semester }}</h2>
          <h2 class="course-lecturer">Lecturer: {{ allAttendanceList[0].lecturer }}</h2>
        </div>
        <div class="course-information">
            <h2 class="course-name">Date: {{ allAttendanceList[0].class_date.toString().split("T")[0]}}</h2>
            <h2 class="course-semester">Start: {{ allAttendanceList[0].start_time }}</h2>
            <h2 class="course-lecturer">End: {{ allAttendanceList[0].end_time }}</h2>
          </div>
          </div>
        <hr />
        <form class="attendance-search">
          <input
            class="search-bar"
            type="text"
            placeholder="Filter by student name or ID number"
            (input)="filterAttendanceResults(filter.value)"
            #filter
          />
        </form>
        <div class="attendance-container">
          <div class="column-name">
            <p class="class-number">STUDENT NUMBER</p>
            <p class="class-date">STUDENT ID</p>
            <p class="class-time">STUDENT NAME</p>
            <p class="class-action">ACTION</p>
          </div>
          <p class="no-student" *ngIf="listEmpty === true">No student matched this name or ID number</p>
          <div class="attendance-data" *ngFor="let attendance of filteredAttendanceList; index as i">
            <!-- <a [routerLink]="['/courses', class.module_id, class.class_date]"> -->
              <div class="row-data">
                <div class="column data-number">{{ i + 1 }}</div>
                <div class="column data-date">{{ attendance.student_id }}</div>
                <div class="column data-time">
                  {{ attendance.student_name }}
                </div>
                <div class="column action">
                  @if(account[0].role == "lecturer"){
                    <button class="button-checking uncertain" >Request Checking</button>
                    <button class="button-checking certain" >Guaranteed Checking</button>
                  }
                  @if(account[0].role == "admin"){
                    <button class="button-checking deny" >Deny</button>
                    <button class="button-checking certain" >Accept</button>
                  }
                  </div>
              </div>
            <!-- </a> -->
            <hr />
          </div>
         
    
        </div>
      </div>}
}