.courses-content {
  padding: 50px;
  margin-top: 120px;
  // border: 1px solid yellow;
  .link {
    color: blue;
  }
  .courses-search {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .search-bar {
      height: 40px;
      width: 500px;
      padding-left: 15px;
      border-radius: 10px;
    }
    .checkbox {
      scale: 2;
      margin-right: 10px;
      margin-left: 30px;
    }
    .filter-button {
      height: 40px;
      width: 80px;
      border-radius: 10px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .list-container {
    margin-top: 30px;
    .column-name {
      display: flex;
      justify-content: space-between;
      .course-id {
        flex: 2;
      }
      .course-code {
        flex: 2;
      }
      .course-name {
        flex: 6;
      }
      .course-semester {
        flex: 2;
      }
      .course-lecturer {
        flex: 3;
      }
      .course-status {
        flex: 2;
      }
    }
    .list-data {
      .row-data {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        // flex-direction: row;

        .column {
          color: black;
        }
        .column:hover {
          color: red;
        }
        .data-id {
          flex: 2;
        }
        .data-code {
          flex: 2;
        }
        .data-name {
          flex: 6;
        }
        .data-semester {
          flex: 2;
        }
        .data-lecturer {
          flex: 3;
        }
        .data-status {
          flex: 2;
        }
      }
      .active {
        color: green !important;
      }
      .inactive {
        color: red !important;
      }
    }
  }
}
