.courses-content {
  padding: 50px;
  margin-top: 120px;
  // border: 1px solid yellow;
  // overflow: scroll;
  .link {
    color: blue;
  }
  .courses-search {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: 2px solid orange;
    .filter-item{
      margin-right: 50px;
    }
    .search-module{
    .search-bar {
      height: 40px;
      width: 400px;
      padding-left: 15px;
      border-radius: 10px;
    }
  }
    .search-lecturer{
      .search-bar {
        height: 40px;
        width: 400px;
        padding-left: 15px;
        border-radius: 10px;
      }
    }
    // .checkbox {
    //   scale: 2;
    //   margin-right: 10px;
    //   margin-left: 30px;
    // }
    // .filter-button {
    //   height: 40px;
    //   width: 80px;
    //   border-radius: 10px;
    //   margin-left: 20px;
    //   cursor: pointer;
    // }
    .search-program{
    .select-program{
      height: 40px;
      width: 70px;
      border-radius: 3px;
    }
  }
  .search-intake{
    .select-intake{
      height: 40px;
      width: 70px;
      border-radius: 3px;
    }
  }
  .search-semester{
    .select-semester{
      height: 40px;
      width: 100px;
      border-radius: 3px;
    }
  }
}
  .list-container {
    margin-top: 30px;
    // box-shadow: 10px 20px 3px rgb(236, 236, 236);
    border-radius: 20px;
      border: 2px solid rgb(255, 255, 255);
      padding: 50px;
      width: 100%;
      // margin-top: 50px;
      height: 60vh;
      overflow: scroll;
      background-color: white;
    .column-name {
      display: flex;
      justify-content: space-between;
      .course-id {
        flex: 1;
      }
      .course-name {
        flex: 3;
      }
      .course-program{
        flex: 1;
      }
      .course-intake{
        flex: 1;
      }
      .course-semester {
        flex: 1;
      }
      .course-lecturer {
        flex: 3;
      }
      .course-status {
        flex: 2;
      }
    }
    .no-module{
      color: red;
      margin-top: 30px;
      
    }
    .list-data {
      .row-data {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        // flex-direction: row;

        .column {
          color: black;
        }
        .column:hover {
          color: red;
        }
        .data-id {
          flex: 1;
        }
        .data-name {
          flex: 3;
        }
        .data-program {
          flex: 1;
        }
        .data-intake {
          flex: 1;
        }
        .data-semester {
          flex: 1;
        }
        .data-lecturer {
          flex: 3;
        }
        .data-status {
          flex: 2;
        }
      }
      .active {
        color: green !important;
      }
      .inactive {
        color: red !important;
      }
    }
  }
}
