@if(authService.currentUserSig()) {
<div class="courses-content">
  <a class="link" [routerLink]="['/']">Courses</a>
  @if(account[0].role == "student") {
  <form class="courses-search">
    <input
      class="search-bar"
      type="text"
      placeholder="Filter by course name, semester or lecturer"
      (input)="filterResults(filter.value)"
      #filter
    />
    <!-- <div>
      <input
        name="all"
        class="checkbox"
        type="checkbox"
        [(ngModel)]="all"
        (change)="finished = false; ongoing = false"
      />
      <span>Default</span>
    </div> -->
    <!-- <div>
      <input
        name="finished"
        class="checkbox"
        type="checkbox"
        [(ngModel)]="finished"
        (change)="filterResults(filter.value)"
      />
      <span>Finished</span>
    </div>
    <div>
      <input
        name="ongoing"
        class="checkbox"
        type="checkbox"
        [(ngModel)]="ongoing"
        (change)="filterResults(filter.value)"
      />
      <span>Ongoing</span>
    </div> -->
    <!-- <button class="filter-button" type="button">
      <i class="fa-solid fa-filter"></i>
      Filter
    </button> -->
  </form>
  <div class="list-container">
    <div class="column-name">
      <p class="course-id">MODULE NO.</p>
      <!-- <p class="course-code">MODULE CODE</p> -->
      <p class="course-name">MODULE NAME</p>
      <p class="course-semester">SEMESTER</p>
      <p class="course-lecturer">LECTURER</p>
      <!-- <p class="course-status">STATUS</p> -->
    </div>
    <div class="list-data" *ngFor="let courses of filteredCourses; index as i">
      <a [routerLink]="['/courses', courses.module_id]">
        <div class="row-data">
          <div class="column data-id">{{ i + 1 }}</div>
          <!-- <div class="column data-code">
            {{ courses.name.split("(")[1].split(")")[0] }}
          </div> -->
          <div class="column data-name">{{ courses.name }}</div>
          <div class="column data-semester">{{ courses.semester }}</div>
          <div class="column data-lecturer">{{ courses.lecturer }}</div>
          <!-- <div
            [ngClass]="{
              active: courses.active === false,
              inactive: courses.active === true
            }"
            class="column data-status"
          >
            {{ courses.active == true ? "Ongoing" : "Finished" }}
          </div> -->
        </div>
      </a>
      <hr />
    </div>
  
  </div>
}
@if(account[0].role == "lecturer") {
  <form class="courses-search">
    <input
      class="search-bar"
      type="text"
      placeholder="Filter by course name, semester or lecturer"
      (input)="filterLecturerResults(filter.value)"
      #filter
    />
  </form>
  <div class="list-container">
    <div class="column-name">
      <p class="course-id">MODULE NO.</p>
      <p class="course-name">MODULE NAME</p>
      <p class="course-semester">SEMESTER</p>
      <p class="course-lecturer">LECTURER</p>
    </div>
    <div class="list-data" *ngFor="let courses of filteredLecturerModules; index as i">
      <a [routerLink]="['/courses', courses.module_id]">
        <div class="row-data">
          <div class="column data-id">{{ i + 1 }}</div>
          <div class="column data-name">{{ courses.name }}</div>
          <div class="column data-semester">{{ courses.semester }}</div>
          <div class="column data-lecturer">{{ courses.lecturer }}</div>
        </div>
      </a>
      <hr />
    </div>
  
  </div>
}
</div>
}