<div class="sidebar-container">
  <h1 class="sidebar-title">Lecture Attendance Management</h1>
  <nav class="sidebar-nav">
    <div class="nav-item sidebar-course" [routerLink]="['/']">
      <h2><i class="fa-solid fa-house"></i>Courses</h2>
    </div>
    <div class="nav-item sidebar-course" [routerLink]="['/notifications']">
      <h2><i class="fa-solid fa-bell"></i>Notifications</h2>
    </div>
    @if(account[0].role == "admin"){
    <div class="nav-item sidebar-course" [routerLink]="['/register']">
      <h2><i class="fa-solid fa-user-plus"></i>Register User</h2>
    </div>
  }
    <div class="nav-item sidebar-course" (click) = "logout()">
      <h2><i class="fa-solid fa-right-from-bracket"></i>Log Out</h2>
    </div>
    <!-- <div class="sidebar-course"></div>
    <div class="sidebar-course"></div> -->
  </nav>
</div>
