@if(authService.currentUserSig()) {
    <div class="manage-course-content">
        <!-- <button (click)="saveDataInCSV('simpleData', arrayWithSimpleData)">
            Save simple data array
          </button> -->
          <!-- <br /><br /> -->
          <h1></h1>
          <h2>1. INSERT STUDENT</h2>
          <p class="module-instruction"><b>INSTRUCTION: </b>This is to import a cvs file to student table in the database. The file should have 6 column with header: student_id, student_name, image_location, program_id, intake and a null(empty) column. Each row below fill with data correspond to the header with the null row empty. Press Import from CSV, select the desire csv file then press Upload to the Database. Press Clear CSV Data if you want to cancel</p>
          <input
            #fileUploadStudent
            [accept]="'.csv'"
            type="file"
            class="file-input"
            (change)="importStudentFromCSV($event)"
            hidden="true"
          />
          <button class="import-csv-button" (click)="fileUploadStudent.click()">Import from CSV</button>
          <br /><br />
          
          <h3>Data from CSV:</h3>
          <div class="module-csv-container">
          <div class="column-name">
            <h4 class="class-id">STUDENT ID</h4>
            <h4 class="class-name">STUDENT NAME</h4>
            <h4 class="class-image">IMAGE LOCATION</h4>
            <h4 class="class-program">PROGRAM ID</h4>
            <h4 class="class-intake">INTAKE</h4>
          </div>
          <p class="no-student" *ngIf="studentListEmpty === true">No CSV file</p>
          <div class="attendance-data" *ngFor="let item of importedStudent| slice:0:importedStudent.length-1">
            <!-- <a [routerLink]="['/courses', class.module_id, class.class_date]"> -->
              <div class="row-data">
                <div class="column data-id">{{ item.student_id }}</div>
                <div class="column data-name">{{ item.student_name }}</div>
                <div class="column data-image">
                  {{ item.image_location}}
                </div>
                <div class="column data-program">
                  {{ item.program_id}}
                </div>
                <div class="column data-intake">
                    {{ item.intake}}
                  </div>
              </div>
            <!-- </a> -->
            <hr />
          </div>
        </div>
          <br /><br />
          <div class="csv-action">
            <button class="upload-database-button" (click)="createStudentFromCSV()">Upload to the Database</button>
            <button class="clear-csv-button" (click)="clearStudentCSV()">Clear CSV Data</button>
          </div>
          <br /><br />
          <hr />
                <br /><br />
                <h1></h1>
                <h2>2. INSERT MODULE ENROLL</h2>
                <p class="module-instruction"><b>INSTRUCTION: </b>This is to import a cvs file to module_enroll table in the database. The file should have 3 column with header: student_id,  module_name (to fetch module_id) and a null(empty) column. Each row below fill with data correspond to the header with the null row empty. Press Import from CSV, select the desire csv file then press Upload to the Database. Press Clear CSV Data if you want to cancel</p>
                <input
                  #fileUploadModuleEnroll
                  [accept]="'.csv'"
                  type="file"
                  class="file-input"
                  (change)="importModuleEnrollFromCSV($event)"
                  hidden="true"
                />
                <button class="import-csv-button" (click)="fileUploadModuleEnroll.click()">Import from CSV</button>
                <br /><br />
                
                <h3>Data from CSV:</h3>
                <div class="program-module-csv-container">
                <div class="column-name">
                  <h4 class="class-id">STUDENT ID</h4>
                  <h4 class="class-module">MODULE NAME</h4>
                </div>
                <p class="no-student" *ngIf="enrollListEmpty === true">No CSV file</p>
                <div class="attendance-data" *ngFor="let item of importedModuleEnroll | slice:0:importedModuleEnroll.length-1">
                    <div class="row-data">
                      <div class="column data-id">{{ item.student_id }}</div>
                      <div class="column data-module">{{ item.module_name }}</div>

                    </div>
                  <hr />
                </div>
              </div>
                <br /><br />
                <div class="csv-action">
                  <button class="upload-database-button" (click)="enrollModule()">Upload to the Database</button>
                  <button class="clear-csv-button" (click)="clearModuleEnrollCSV()">Clear CSV Data</button>
                </div>
    </div>
    }
    