<!-- <div class="courses-content">
    <a class="link" [routerLink]="['/']">Courses</a>
    <form class="courses-search">
      <input
        class="search-bar"
        type="text"
        placeholder="Filter by course name"
        (input)="filterResults(filter.value)"
        #filter
      />
    </form>
    <div class="list-container">
      <div class="column-name">
        <p class="course-id">ID</p>
        <p class="course-name">NAME</p>
        <p class="course-semester">SEMESTER</p>
        <p class="course-lecturer">LECTURER</p>
        <p class="course-status">STATUS</p>
      </div>
      <div class="list-data" *ngFor="let courses of filteredCourses">
        <a [routerLink]="['/courses', courses.id]">
          <div class="row-data">
                
              {{ courses.active == true ? "Ongoing" : "Finished" }}
            </div>
          </div>
        </a>
        <hr />
      </div>
    </div>
  </div> -->
