@if(authService.currentUserSig()) {
<div class="noti-content">
      <a class="noti-link" [routerLink]="['/notifications']">Notifications</a> 
        <h1 class="noti-title">NOTIFICATIONS</h1>
    <div class="noti-container">
      <div class="noti-data" *ngFor="let noti of notiList; index as i">
        <!-- <a [routerLink]="['/courses', class.module_id, class.class_date]"> -->
          <div class="noti-header">
          <h3 class="noti-sender">From: {{noti.sender}} ({{noti.sender_id}})</h3>
          <p class="noti-date">{{noti.noti_date}}</p>
        </div>
          <p class="noti-text">{{noti.noti_text}}</p>
        <!-- </a> -->
        <hr />
      </div>
     

    </div>
  </div>
}

  
