@if(authService.currentUserSig()) {
    <div class="register-container">
<h1>Register user</h1>
@if(errorMessage){
    <div>{{errorMessage}}</div>
}
<form class="register-form" [formGroup] = "form" (ngSubmit) = "onSubmit()">
    <h4>ID:</h4>
    <div>
        <input class="register-input" type="text" placeholder="School ID" formControlName="schoolId" required>
    </div>
    <h4>Username:</h4>
    <div>
        <input class="register-input"  type="text" placeholder="Username" formControlName="username" required>
    </div>
    <h4>Email:</h4>
    <div>
        <input class="register-input"  type="text" placeholder="Email" formControlName="email" required>
    </div>
    <h4>Password:</h4>
    <div>
        <input class="register-input"  type="password" placeholder="Password" formControlName="password" required>
    </div>
    <h4>Role:</h4>
    <div>
        <input class="register-input"  type="text" placeholder="Role" formControlName="role" required>
    </div>
    <div class="submit-button-container">
        <button class="register-button" type="submit">Sign Up</button>
    </div>
</form>
    </div>
}