.register-container{
    padding: 50px;
    margin-top: 120px;
    background-color:    #F4F5F7;
    .register-title{
        margin-top:20px ;
    }
    .register-form{
        h4{

            margin-top: 20px;
        }
        .register-input{
            width: 400px;
            height: 30px;
            padding-left: 10px;
            border-radius: 10px;
            border-color: rgb(214, 214, 214);
        }
        .submit-button-container{
            width: 400px;
            margin-top: 30px;
            .register-button{
                width: 100%;
                height: 30px;
                border: 1px solid orange;
                border-radius: 10px;
                background-color: orange;
                font-size: 16px;
                color: white;
                cursor: pointer;
            }
            
            .register-button:active{
                background-color: rgb(253, 209, 126);
            }
        }
    }
    .module-instruction{
        margin-top: 20px;
      }
      .import-csv-button{
          height: 40px;
          width: 140px;
          margin-top: 10px;
          border-radius: 5px;
          border-color: orange;
          background-color: rgb(255, 211, 130);
          cursor: pointer;
      }
      .import-csv-button:active{
        background-color: rgb(255, 238, 206);
      }
      .account-csv-container {
        // box-shadow: 10px 20px 3px rgb(255, 209, 125);
        border-radius: 20px;
          // border: 2px solid orange;
          padding: 50px;
          width: 90%;
          margin-top: 50px;
          height: 500px;
          overflow: scroll;
          background-color: white;
          // position: relative;
          .column-name {
  
            display: flex;
            justify-content: space-between;
            // position: absolute;
            .class-id {
              flex: 1;
            }
            .class-username {
              flex: 3;
            }
            .class-email {
              flex: 3;
            }
            .class-password {
                flex: 3;
              }
              .class-role {
                flex: 1;
              }
          }
          .no-student{
            color: red;
            margin-top: 30px;
    
          }
          .attendance-data {
            .row-data {
                
              margin-top: 30px;
              margin-bottom: 30px;
              display: flex;
              justify-content: space-between;
              // flex-direction: row;
      
              .column {
                  // border-right: 1px solid black;
                color: black;
              //   height: 60px;
              }
              .column:hover {
                color: red;
                padding-top: 5px;
              }
              .data-id {
                flex: 1;
              }
              .data-username {
                flex: 3;
              }
              .data-email {
                flex: 3;
              }
              .data-password {
                  flex: 3;
                }
                .data-role {
                  flex: 1;
                }
            }
          }
        }
        .csv-action{
            .upload-database-button{
              height: 40px;
              width: 250px;
              margin-top: 60px;
              border-radius: 5px;
              border-color: rgb(0, 255, 0);
              background-color: rgb(122, 255, 122);
              cursor: pointer;
          }
          .upload-database-button:active{
            background-color: rgb(205, 255, 205);
          }
          .clear-csv-button{
            margin-left: 30px;
            height: 40px;
            width: 180px;
            margin-top: 60px;
            border-radius: 5px;
            border-color: red;
            background-color: rgb(255, 122, 122);
            cursor: pointer;
        }
        .clear-csv-button:active{
          background-color: rgb(255, 206, 206);
        }
        }
}