.class-content {
  padding: 50px;
  margin-top: 120px;
  .class-link {
    color: blue;
  }
  .course-information {
    margin-top: 30px;
    h2 {
      margin-top: 10px;
    }
  }
  .class-search {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .search-bar {
      height: 40px;
      width: 500px;
      padding-left: 15px;
      border-radius: 10px;
    }
  }
  .class-container {
    // border: 1px solid red;
    height: 60vh;
    width: 90%;
    margin-top: 30px;
    box-shadow: 10px 20px 3px rgb(255, 209, 125);
    border-radius: 20px;
      border: 2px solid orange;
      padding: 50px;
      // width: 70%;
      // margin-top: 50px;
      // height: 500px;
      overflow: scroll;
    .column-name {
      display: flex;
      justify-content: space-between;
      .class-number {
        flex: 2;
      }
      .class-date {
        flex: 3;
      }
      .class-time {
        flex: 3;
      }
    }
    .no-class{
      color: red;
      margin-top: 30px;

    }
    .class-data {
      .row-data {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        // flex-direction: row;

        .column {
          color: black;
        }
        .column:hover {
          color: red;
        }
        .data-number {
          flex: 2;
        }
        .data-date {
          flex: 3;
        }
        .data-time {
          flex: 3;
        }
      }
    }
  }
}
