@if(authService.currentUserSig()) {
<div class="class-content">
  <span class="class-link">
    <a class="class-link" [routerLink]="['/']">Courses</a> >>
    <a class="class-link" [routerLink]="['/courses/', class[0].module_id]">
      {{ class[0].name }}'s Classes
    </a>
      </span>

  <div class="course-information">
    <h2 class="course-name">Course: {{ class[0].name }}</h2>
    <h2 class="course-semester">Semester: {{ class[0].semester }}</h2>
    <h2 class="course-lecturer">Lecturer: {{ class[0].lecturer }}</h2>
  </div>
  <hr />
  <div class="class-container">
    <div class="column-name">
      <p class="class-number">CLASS NUMBER</p>
      <p class="class-date">DATE</p>
      <p class="class-time">TIME</p>
    </div>
    <div class="class-data" *ngFor="let class of class; index as i">
      <a [routerLink]="['/courses', class.module_id, class.class_date  ]">
        <div class="row-data">
          <div class="column data-number">{{ i + 1 }}</div>
          <div class="column data-date">{{ class.class_date}}</div>
          <div class="column data-time">
            {{ class.start_time }} - {{ class.end_time }}
          </div>
        </div>
      </a>
      <hr />
    </div>
  </div>
   <!-- classes page under maintenance, connecting real classes database from mysql -->
</div>
}